p{
    font-family: 'arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
h1{
    font-family: 'arial', sans-serif;
    font-size: 52px;
}
h2{
    font-family: 'arial', sans-serif;
    font-size: 48px;
    font-weight: 400;
}

h3{
    font-family: 'arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

button{
    font-family: 'arial', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

li{
    font-family: 'arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
}